/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/ {
	regulators {
		reg_wlan: regulator-wlan {
			compatible = "regulator-fixed";
			regulator-name = "reg_wlan";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_regwlan>;
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio1 5 0>;
			startup-delay-us = <100>;
			enable-active-high;
		};
	};
};

&iomuxc {
    visionsom6ull-wifibt {
	pinctrl_regwlan: regwlangrp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO05__GPIO1_IO05    0x17059
		>;
	};

	pinctrl_uart5: uart5grp {
		fsl,pins = <
			MX6UL_PAD_CSI_DATA00__UART5_DCE_TX  0x1b0b1
			MX6UL_PAD_CSI_DATA01__UART5_DCE_RX  0x1b0b1
			MX6UL_PAD_CSI_DATA02__UART5_DCE_RTS 0x1b0b1
			MX6UL_PAD_CSI_DATA03__UART5_DCE_CTS 0x1b0b1
			MX6UL_PAD_CSI_MCLK__GPIO4_IO17      0x17059   /* bluetooth module on/off" */
		>;
	};
    };
};

/* SDIO WiFi */
&usdhc1 {	
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	no-1-8-v;
	non-removable;
	cd-post;
	pm-ignore-notify;
	wifi-host;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	vmmc-supply = <&reg_wlan>;
	status = "okay";
        
        brcmf: bcrmf@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

/* Bluetooth */
&uart5 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_uart5>;
        fsl,uart-has-rtscts;
        dma-names = "", "";
        status = "okay";

        bluetooth {
                compatible = "brcm,bcm43438-bt";
                max-speed = <3000000>;
                shutdown-gpios = <&gpio4 17 GPIO_ACTIVE_HIGH>;
        };
};
